<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- local css -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Document</title>
</head>
<body>

    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
            <form action="/delete" method="POST">
                <!-- { this opening bracket needs to be in the same line in which the for loop start  -->
                <%    newListItems.forEach(function(item) {  %>
                        <div class="item">
                                <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                                <p> <%= item.name %> </p>
                        </div>
                <%  });  %>
                <input type="hidden" name="listName" value="<%= kindOfDay %>">
            </form>

        
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" id="to_do" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= kindOfDay %>">+</button>
        </form>

    </div>


</body>
</html>